
{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block content %}
    <pre >
    <ul >
        {% for auteur in auteurs %}
            <li> {{ auteur.id  }}</li>
            <li>{{ auteur.firstname }}</li>
            <li>{{ auteur.lastname }}</li>

        {% endfor %}
    </ul>
    </pre>
{% endblock %}