<head>
<nav class="navbar navbar-expand-sm bg-muted navbar-dark d-flex">
    <span class="navbar-text flex-grow-1 text-primary ">
    Mon petit blog
  </span>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-primary" href="{{ path('show_all_articles') }}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="{{ path('create_article') }}">Create article</a>
        </li>
        <li>
            <a class="nav-link text-primary" href="{{ path('show_all_author') }}">Auteurs</a>
        </li>
        <li>
            <a class="nav-link text-primary" href="{{ path('create_author') }}">Create Auteur</a>
        </li>
    </ul>
</nav>
</head>