<head>
    <ul>
        <li>
            <a href="{{ path('show_all_articles') }}">Articles</a>
            <ul>
                <li><a href="{{ path('create_article') }}">Create article</a></li>

            </ul>
        </li>
        <li>
            <a href="{{ path('show_all_author') }}">Auteurs</a>
            <ul>
                <li><a href="{{ path('create_author') }}">Create Auteur</a></li>

            </ul>
        </li>
    </ul>
</head>